</body>

<!-- footer.html -->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <p>This is an initiative to enhance the readability of your bank statement, while prioritizing the security of your sensitive information. <br>
            Our application operates locally and does not rely on any servers to ensure that your data is never stored or compromised.</p>
        </div>
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-envelope"></i><b>Email:</b> amrsanu@gmail.com</li>
            <li><i class="fa fa-phone"></i><b>Mobile:</b> +91 9140567789</li>
          </ul>
        </div>
      </div>
    </div>
</footer>
