<nav id="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bank-statement">Statement</a></li>
        <li><a href="/upload-file">UpdateStatement</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</nav>