table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 1px;
  text-align: left;
  border: 1px solid #ba5555be;
  min-width: max-content;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f3c547;
}

table caption {
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: space-around;
  width: 100%;
  padding: 2px;
  background-color: #56efce;
  border: 1px solid #aa4c4c;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 3px;
}

label {
  font-weight: bold;
  color: #555;
  width: max-content;
}

input[type="date"],
select {
  display: inline-block;
  padding: 2px;
  width: max-content;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  color: #555;
  transition: all 0.2s ease-in-out;
}

input[type="date"]:focus,
select:focus {
  outline: none;
  border: 2px solid #007bff;
}

form:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  transform: scale(1.2);
  margin-top: 4px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chart-image {
  width: 80%;
}

@media (max-width: 767px) {
  .chart-image {
    width: 100%;
  }

  form {
    flex-direction: column; /* Stack the form elements vertically */
    align-items: flex-start; /* Align items to the left */
  }

  label,
  input[type="date"],
  select {
    width: 100%; /* Set the width to 100% for better responsiveness */
  }
}
