@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

* {
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  font-size: 16px;
}

html {
  font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Rajdhani', sans-serif;
  background-color: #333; /* yellow */
  color: #ffffff; /* dark gray */
  padding: 2px; /* adds padding around the text */
  font-weight: bold; /* makes the text bold */
  text-align: center; /* centers the text */
  text-transform: uppercase; /* makes the text uppercase */
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); /* adds a subtle shadow */
  margin-top: 10px;
  margin-bottom: 3px; /* adds space between this heading and the next element */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

#main-navigation {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
}

#main-navigation header {
  color: aquamarine;
  background-color: black;
}

#main-navigation a {
  text-decoration: none;
  color: rgb(204, 206, 209);
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: rgb(81, 241, 113);
}

button[type="submit"] {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  background-color: #0a6018;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #1b8a51;
}

button[type="submit"]:active {
  background-color: #1eeb39;
}

/* Media Queries */
@media only screen and (max-width: 400px) {
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  #main-navigation {
    height: 30px;
    padding: 0 2%;
  }
}
