#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2vw 0;
}

#footer p {
  font-size: 1.8vw;
  color: #ccc;
  line-height: 1.5;
  margin-left: 1vw;
  margin-bottom: 1vw;
  text-align: justify;
}

#footer ul.list-unstyled {
  font-size: 1.8vw;
  line-height: 1.5;
  color: #ccc;
  margin-bottom: 1vw;
}

#footer ul.list-unstyled li i {
  font-size: 2.5vw;
  margin-right: 1vw;
  color: white;
}

#footer ul.list-unstyled li a {
  font-size: 2.5vw;
  color: white;
  margin-right: 1vw;
}

#footer ul.list-unstyled li a:hover {
  color: #aaa;
}

#footer ul.list-inline {
  margin-bottom: 1vw;
  text-align: center;
}

#footer ul.list-inline li {
  display: inline-block;
  margin-right: 1vw;
}

#footer ul.list-inline li a i {
  font-size: 3.5vw;
  color: white;
  padding: 1.5vw;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#footer ul.list-inline li a:hover i {
  color: #aaa;
  background-color: #fff;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
}

/* Media Queries */
@media only screen and (max-width: 400px) {
  #footer h3 {
    font-size: 6vw;
    margin-bottom: 2vw;
  }

  #footer p {
    font-size: 4vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
  }

  #footer ul.list-unstyled {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  #footer ul.list-unstyled li i {
    font-size: 6vw;
    margin-right: 2vw;
  }

  #footer ul.list-unstyled li a {
    font-size: 6vw;
    margin-right: 2vw;
  }

  #footer ul.list-inline {
    margin-bottom: 2vw;
  }

  #footer ul.list-inline li a i {
    font-size: 8vw;
    padding: 4vw;
  }
}
