.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#help {
  justify-content: center;
  padding: 2vw;
}

#help ol li {
  list-style: decimal;
  padding-left: 2vw;
  line-height: 1.5em;
}

/* Media Queries */
@media only screen and (max-width: 400px) {
  #help {
    padding: 4vw;
  }

  #help ol li {
    padding-left: 4vw;
  }
}
