#navigation {
  background-color: rgb(6, 192, 225); /* sets the background color of the navigation */
  color: #000000; /* sets the text color of the navigation */
  margin-top: 20px; /* adds margin above the navigation */
  margin-bottom: 20px; /* adds margin below the navigation */
  padding: 15px; /* adds padding around the text */
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* adds a subtle shadow */

}

#navigation ul {
  list-style: none; /* removes the bullets from the list */
  margin: 0; /* removes the default margin of the list */
  padding: 0; /* removes the default padding of the list */
  display: flex; /* uses flexbox to align the list items horizontally */
  justify-content: center; /* evenly spaces the list items */
}

#navigation li {
  margin: 0 10px; /* adds some margin between the list items */
}

#navigation a {
  color: #000000; /* sets the text color of the links */
  text-decoration: none; /* removes the underline from the links */
  font-weight: bold; /* makes the links bold */
  font-size: 18px; /* sets the font size of the links */
  transition: all 0.2s ease-in-out; /* adds a smooth transition effect on hover */
}

#navigation a:hover {
  color: #f7df1e; /* changes the text color of the links on hover */
}
