.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .credit-view, .debit-view {
    text-align: center;
    display: block;
    border: 2px solid #ea4343;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    object-fit: cover;

  }
  
#heading1 {
  background-color: #f7df1e; /* yellow */
  color: #2d2d2d; /* dark gray */
  padding: 10px; /* adds padding around the text */
  font-size: 36px; /* increases the font size */
  font-weight: bold; /* makes the text bold */
  text-align: center; /* centers the text */
  text-transform: uppercase; /* makes the text uppercase */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* adds a subtle shadow */
  margin: 0;
  margin-bottom: 20px; /* adds space between this heading and the next element */
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 34px;
  border-radius: 3px;
  padding: 8px;

}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #db8c0c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* When the checkbox is checked, change the background color of the slider */
.switch input:checked + .slider {
  background-color: #1fdd06;
}

/* When the checkbox is checked, translate the slider to the right */
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 14px;
}
