.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-view,
.debit-view {
  text-align: center;
  display: block;
  border: 0.08em solid #ea4343;
  border-radius: 1.25em;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); /* adds a subtle shadow */
  object-fit: contain;
  width: 100%;
  height: auto;
}

#heading1 {
  background-color: #f7df1e; /* yellow */
  color: #2d2d2d; /* dark gray */
  padding: 1rem; /* adds padding around the text */
  font-weight: bold; /* makes the text bold */
  text-align: center; /* centers the text */
  text-transform: uppercase; /* makes the text uppercase */
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2); /* adds a subtle shadow */
  margin: 0;
  margin-bottom: 1.25rem; /* adds space between this heading and the next element */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-flex;
  width: 3.75rem;
  height: 2.125rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
