#form-container {
  width: 100%;
}

form {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: inline-block;
  text-align: -webkit-center;
  width: 100%;
}

table {
  border-spacing: 10px;
}

table th, table td {
  display: table-cell;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 400px) {
  button[type="submit"] {
    width: 90%;
    min-width: unset;
  }
}

/* Media Query for Table Rows */
@media only screen and (max-width: 600px) {
  table tr {
    display: block;
    width: 100%;
  }
  form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
