<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/bank_statement.css">
<link rel="stylesheet" href="/css/help_page.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    
    <h1>How to navigate the Expense Tracker</h1>

    <div class="center">
        <section id="help">
          <div>
            <h3>Disclaimer: </h3>
            <ol>
              <li>All your uploaded data will be saved securely on your system's local cache.</li>
              <li>The page will not save any of the data.</li>
            </ol>
          </div>
      
          <div>
            <h3>Tips: </h3>
            <ol>
              <li>Use the UpdateStatement page to upload the statement.</li>
              <li>Only the latest statement will be used.</li>
              <li>Try to upload cumulative statements for a better experience.</li>
              <li>Delete or visit later to check back. Data will be saved securely on your system's cache.</li>
            </ol>
          </div>
        </section>
    </div>
      

<%- include('../includes/end.ejs') %>

